<!--The content below is only a placeholder and can be replaced. -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">

  <div class="col-md-1 col-xs-1 col-lg-1">
  <input class="form-control" type="checkbox" #angularStateTodo [checked]="checkTodos" (click)="checkAll(angularStateTodo.checked)"/>
 </div>
 <div class="col-md-11 col-xs-11 col-lg-11">
  <input class="form-control" placeholder="What needs to be done ?" type="text" (keydown.enter)="addToDo($event.target)">
 </div>
  <br>
  <br>

  <table class="table table-hover table-bordered">
      <tr *ngFor="let todo of listToDo$ | filtroBusqueda:campoFiltro">
          <td><input  class="form-control" type="checkbox" #angularState [checked]="(todo.state =='completed') ? true:false" (click)="changeStatusTodo(todo, angularState.checked)"/></td>
          <td>  <input class="form-control" type="text" (keydown.enter)="editMessageToDo($event.target.value, todo)" [value]="todo.message"></td>
          <td><button class="btn" (click)="removeToDo(todo)">
            <span class="glyphicon glyphicon-remove"></span>
              </button>
        </td>
      </tr>
  </table>

  <div class="col-md-12 col-xs-12 col-lg-12" >
      <p class="led">total registros {{ todoCount }}</p>
     <button class="btn btn-primary" (click)="cambiarFiltro('active')" >Active</button> 
     <button class="btn btn-primary" (click)="cambiarFiltro('completed')" >Completed</button> 
     <button class="btn btn-primary"(click)="cambiarFiltro('all')" >All</button> 
     <button class="btn btn-primary" (click)="deleteCompleteToDo()" >Clear Completed</button> 
  </div>

